.header {
    padding: 20px;
    font-size:large;
    background-color: lightblue;
    flex-direction: row;
}
.nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size:small;
}
.cat{
    height:200px;
    width:200px;
    margin-bottom: 25px;
}
.main {
background-color: azure;
font-size:large;
}
.picture {
    height:400px;
    width:50%;
    margin-bottom:25px;
}
.footer {
background-color: lightblue;
font-size: medium;
flex-wrap: wrap;
}
.nav .ul {
    list-style-type: none;
}