.header {
    display: flex;
    flex-wrap: wrap;
    font-size:large;
    background-color: lightblue;
    flex-direction: row;
}
.header h1{
    width:45%;
}
.nav{
    width: 50%;
    list-style-type: none;
    font-size:small;
}
.main {
background-color: azure;
font-size:large;
}
.picture {
    width:35%;
    margin-bottom:25px;
}
.footer {
background-color: lightblue;
font-size: medium;
flex-wrap: wrap;
}
.nav .ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    padding-bottom: 1%;
    justify-content: space-evenly;
}
.section {
    display: flex;
    flex-wrap: wrap;
}
.section h2 {
    width:15%;
}
.section p {
    width:80%;
}